* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

#body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    font-family: 'Quicksand', sans-serif;
    color: rgb(18, 18, 18);

}

a{
    text-decoration: none;
    color: white;
}

/*MIXINS GENERALES*/
@mixin footer {
    width: 100%;
    grid-area: footer;
    background-color:darkslategray;
    margin-top:80px;
    text-align: center;
    padding: 20px;

    div{
       display: flex;
       flex-direction: row;
       justify-content:flex-end;

       a{
        padding:0 3% 0 0;
        margin-bottom: 4%;
       }
    }
    
}

@mixin columna-flex {
    display: flex;
    flex-direction: row;
}

@mixin portada{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    margin-bottom: 8%;
}

@mixin sub-portada{
    h1{
        color: ghostwhite;
    }
   
    p{
        color: #DCDCDC;
        width: 100%;
        font-style: italic;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
}

/*--------------------------------------INDEX----------------------------------*/
/*HEADER INDEX*/
#headerIndex{
    width: 100%;
    grid-area: header;
}

.videoIndex{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .videoContainer{
        position:absolute;
        top: 0;
        margin: 0;
        width: 100%;
    }

    h1{
        text-align: center;
        font-size: 6rem;
        z-index: 1;
        opacity: 0.8;

    }

}

h1{
    height: 30vh;
    @include columna-flex();
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    font-size: 50px;
   font-weight: 200;
}



video{
    width: 100%;
}




/*MAIN INDEX*/

/*MAIN INFORMACION CHEF*/

#mainIndex{
    width: 100%;
    grid-area: main;
    @include columna-flex();
    flex-wrap: wrap;

}

.infoChef{
    width: 100%;
    @include columna-flex();
    margin-top: 30vh;
    background-color:rgb(177, 177, 177);
}

#imgChef{
    width: 40%;
    margin: 3%;
    border-radius: 1%;
}

.textoChef{
    align-self: center;
    font-style: oblique;
    margin-right: 5%;
    
}

/*MAIN INFORMACION SOBRE VINOS*/


#tituloVinoIndex{
    @include columna-flex();
    width: 100%;
    justify-content: center;
    margin-top: 5%;
    font-size: 30px;
   font-weight: 200;
}

#vinosIndex{
    width: 100%;
    @include columna-flex();
    margin: 15vh 0 15vh 0;

    a{
        color: black;
        
        
    }

   
    
}

/* AGREGO ANIDACION*/
.transicionVinosIndex{
   & :hover{
        width: 100%;
    
    }

} 




/*DECLARO MIXIN*/
@mixin vinos {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}


#malbecIndex{
    @include vinos;
}

#cabernetIndex{
    @include vinos;
}

#sauvignonIndex{
    @include vinos;
}

.imgIndexVinos{
    width: 90%;
 
}



#tituloWineExperience{
    width: 100%;
    justify-content: center;
    margin-top: 15%;
    font-size: 30px;
   font-weight: 200;
}

.botonIndex2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

#textoChef{
    align-self: center;
    font-style: oblique;
}
/*FOOTER INDEX*/

.footerIndex{
    @include footer();
}



/*--------------------------------------SECCION VINOS----------------------------------*/

.portada{
    @include portada();
    background-image: url(../img/bodega.jpg);

    @include sub-portada();
    
    }
    
/*--------------------------------------SECCION HISTORIA----------------------------------*/

.portadaHistoria{
    @include portada();
    background-image: url(../img/nuestraHistoriaPortada.jpg);
    background-repeat: no-repeat;
    background-position: center;

@include sub-portada();
h1{
    color: darkslategray;
}
}

.containerHistoria{
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        margin: 5%;
    }
}
.imagenHistoria{
    height: 50vh;
    width:fit-content;
    
}








/*--------------------------------------SECCION WINE EXPERIENCE----------------------------------*/
/*MAIN INFORMACION SOBRE WINE EXPERIENCE*/
.gridWineE{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    font-family: 'Quicksand', sans-serif;
    color: rgb(18, 18, 18);
}
.headerWineE{
    grid-area: header;
}

.mainWineE{
    grid-area: main;
    margin-left: 2%;
    margin-right: 2%;
}

.footerWineE{
    grid-area: footer;
    @include footer();
}

#indexWineE{
    width: 100%;
    @include columna-flex();
    margin: 5vh 0 2vh 0;
    background-color:hsl(210, 6%, 57%);

}

#tituloWineExperience{
    @include columna-flex();
    margin-top: 30vh;
    justify-content: center;
}

.imgWineExperience{
  
    @include portada();
    background-image: url(../img/wineExperienceFoto1.jpg);
    
  @include sub-portada();
    
}
.subtituloWineExperience{
    margin: 80px 0 0 10px;
    color: rgba(0, 0, 0, 0.795);
}

.botonUbicacion{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#detalleWineExperience{
    text-align:justify;
    font-style: italic;
    color: rgba(77, 77, 77, 0.795);
    margin-top: 2%;
  

}
/*INCLUYO ANIDACION SASS*/
.reservasWineE{
    @include columna-flex();
    margin-top: 3%;

    img{
        width: 40%;
        border-radius: 1%;
    }

    p{
        align-self: center;  
        font-style: italic; 
        margin-left: 5%;
       }
    
}

/*--------------------------------------SECCION CONTACTO----------------------------------*/

.portadaContacto{
    @include portada();
    background-image: url(../img/contacto.jpg);

   @include sub-portada();
}




.contactoContainer{
    @include columna-flex();
    width: 100%;
  

}

.formulario{
    border: 1px black solid;
    border-radius: 1%;
    background-color: transparent;

}

.map-responsive{
    margin-right: 5%;
}






/*MEDIA QUIERIES*/
/*------------------------------------------------------------------------------------*/
/*CELULAR*/
@media screen and (max-width:480px) {
    /*modificaciones media queries index*/
     #body{
         grid-template-columns: auto;
         grid-template-rows: auto;
     
     }
 
     #headerIndex{
         width: 100%;
         grid-area: header;
         height:min-content ;

         .videoIndex{
            height: 80vh;
         }
     }
     .infoChef{
         width: 100%;
         display: flex;
         flex-direction: column;
        margin-top:0%;
        align-items: center;
         
     }
     #vinosIndex{
         width: 100%;
         display: flex;
         flex-direction: column;
         margin-top: 15vh;
         
     }
 
     div .imgIndexVinos{
         margin: 10%;
     }
     .imgIndexVinos{
         width: 50%;
     }
    
 #indexWineE{
     display: flex;
     flex-direction: column;
 }
 
 #tituloWineExperience{
     margin-top: 15vh;
 }
 /*modificaciones media queries Wine Experience*/
 .imgWineExperience{
     background-repeat: no-repeat;
     background-size: contain;
 }
 .gridWineE{
     grid-template-rows: auto 2fr auto;
 
 }
 .reservasWineE{
     flex-direction: column;
     align-items: center;
 }


 /*modificaciones media queries Nuestra Historia*/
 .imagenHistoria{
    display: none;
}
.seccionHistoria{
    grid-template-areas:
"titulo"
"descripcion";
height: 45vh;
margin-left: 0%;
}

.displayFamilia{
    grid-area: titulo;
}

.displayParrafo{
    grid-area: descripcion;
}

/*modificaciones media queries Contacto*/
.contactoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;

   .formulario{
    width: 100%;
    margin: 5%;
   }
}

}
 /*------------------------------------------------------------------------------------*/
 /*IPAD*/
 @media screen and (min-width:481px) {
    headerIndex{
        height:fit-content;
    }
     #textoChef{
         padding-right: 10vw;
     }
 
     .infoChef{
        flex-direction: column;
        align-items: center;
        margin-top: 0%;
    }

    #vinosIndex{
        margin-top: 5vh;
    }

    #tituloWineExperience{
        margin-top: 15vh;
    }

    #indexWineE{    
    flex-direction: column;
    align-items: center;
    }

 /*modificaciones media queries Wine Experience*/
     
     .botonUbicacion, .reservasWineE{
        flex-direction: column;
        align-items: center;
     }

/*modificaciones media queries Nuestra Historia*/
#bodyHistoria{
    width: 100vh;
}
.seccionHistoria{
margin-left: 0%;
    
 }

 /*modificaciones media queries Contacto*/
.contactoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;

   .formulario{
    width: 100%;
    margin: 5%;
   }
}
 
}
 
@media screen and (min-width:1023px){
    /*modificaciones media queries Nuestra Historia*/

    #bodyHistoria{
        width: fit-content;
    }
}